body {
    font-family: 'Anaheim';
    font-size: 1.2em;
  }
  
  #outside {
    background-color: lightgoldenrodyellow;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  h1 {
    font-size: 1.8em;
    
    text-transform: capitalize;}
  fieldset { 
    border:1px solid lightgray;
    margin: auto;
    background:#f3fafe;
    max-width:525px;
		min-height:670px;
		position:relative;
   }
  
  legend {
    font-weight: 700;
    background-color: rgb(80, 185, 255);
  }
  #number {
    width: 150px;
  }
  div + div {
    margin-top: 1em;
    }
  input, textarea {
    
    width: 200px;
  
  
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
   
    border-color: OrangeRed;
  }
  
  textarea {
    
    vertical-align: top;
  
    
    height: 5em;
  
    
    resize: vertical;
  }
  
  .button {
    
    padding-left: 90px; 
  }
  
  button {
    margin: .5em;
    font-size: 1em;
    text-transform: capitalize;
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 2px;
    
  }
  
  #submitbutton {
    display: flex; 
    justify-content: center;
  }
  
  .btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 5px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left;
    font-size: xx-small; /* Float the buttons side by side */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }
