body {
    font-family: 'Anaheim';
    font-size: 1.2em;
  }

h1 {
font-size: 1.8em;
text-transform: capitalize;}

    fieldset { 
      border:1px solid lightgray;
      margin: 10px;
      
     }
	 .login-wrap{
		width:100%;
		margin:auto;
		max-width:525px;
		min-height:670px;
		position:relative;
		background:#f3fafe;
	}
img.avatar {
	width: 40%;
	border-radius: 50%;
	
  }
  .login-html{
	width:70%;
	height:70%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:#ffffff00
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateX(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}


.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#000000;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:10px;
	background:#ffffff;
}

.login-form .group .label{
	color:#000000;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}




.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}